.plan--modal {
  font-weight: 600;
  font-size: 1.2em;
  color: rgb(90, 111, 144);
}

.plan--modal .modal-title {
  text-align: center;
  width: 100%;
  padding: 0.5em 0 !important;
  border-bottom: 1px solid grey;
}
.plan--modal .modal-header {
  border-bottom: unset !important;
  padding: 0.7rem 1rem;
}

.plan--modal .modal-header .close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  background: transparent;
  line-height: 1;
  color: #000;
  border: unset !important;
  opacity: 0.5;
}
.plan--modal .modal-body {
  padding: 0.7rem 1.5rem 1rem 1.5rem !important;
}
.plan--modal--plan-title {
  font-size: 0.9em;
}
.plan--modal--plan-title span {
  font-weight: bold;
}

.plan--modal--form {
  padding: 1rem 0;
  font-size: 0.9rem;
}
.plan--modal--form label {
  margin-bottom: 0.3rem;
}
.plan--modal .form-row {
  padding: 0.5rem 0;
}

@media (min-width: 990px) {
  .modal-dialog {
    min-width: 650px;
    margin: 1.75rem auto;
  }
}

.plan--modal input[type="number"]::-webkit-inner-spin-button,
.plan--modal input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

.plan--modal input[type="checkbox"] {
  margin-left: 0.5rem;
  margin-right: 0.2rem;
}
.plan--modal button[type="submit"] {
  background: rgb(238, 90, 54);
  padding: 0.5em 0.5em;
  color: white;
  border: unset;
  border-radius: 2px;
}
