.plan--tag {
  color: white;
  background: rgb(238, 90, 54);
  padding: 0.7em 1.4em;
  font-size: 1.1em;
  min-height: 3em;
  text-align: center;
  visibility: hidden;
}
.plan--card {
  text-align: center;
  margin: 0.5rem 0;
}
.plan--card:hover .plan--details {
  background: rgb(235, 235, 235);
}
.plan--title {
  background: rgb(90, 111, 144);
  color: white;
  padding: 0.9em 1.6em;
  font-size: 1.2em;
}

.plan--details {
  color: rgb(90, 111, 144);
}
.plan--card:last-child {
  display: flex;
  flex-direction: column;
}
.plan--card:last-child .plan--details {
  font-size: 1.5em;
  display: flex;
  padding: 1rem;
  align-items: center;
  flex-grow: 1;
  font-weight: 500;
}

.plan--details--leadPrice {
  padding: 0.7em 0;
  margin: 0 2em;
  border-bottom: 2px dotted rgb(168, 167, 167);
}
.plan--details--leadPrice span {
  font-size: 2.2em;
  font-weight: 500;
}
.plan--details--leadValue {
  padding: 0.7em 0;
  margin: 0 2em;

  border-bottom: 2px dotted rgb(168, 167, 167);
}
.plan--details--leadValue span {
  font-size: 1.2em;
  font-weight: 500;
}
.plan--details--leadMonth {
  padding: 0.7em 0;
  margin: 0 2em;
}
.plan--details--leadMonth span {
  font-size: 1.2em;
  font-weight: 500;
}

.plan--details--price {
  background: rgb(90, 111, 144);
  color: white;
  padding: 0.7em 1.5em;
  font-size: 1.2em;
  font-weight: 600;
}
.plan--tag.popular {
  visibility: visible;
}
.plan--finalise {
  cursor: pointer;
  margin: 1rem 0;
  padding: 0.7em 1.4em;
  font-size: 1.2em;
  color: rgb(238, 90, 54);
  border: 2px solid rgb(238, 90, 54);
}
.plan--finalise:hover {
  background: rgb(238, 90, 54);
  color: white;
}
